/*================ COMMENTS ===========*/

/* Study Item Page */
.comment-form .comment-form-header {
  background: $primary-color;
  color: setTextColor($primary-color);
  padding: 0.5rem;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  color: $primary-color;

  &-title {
    background-color: $orange-color;
    color: $light-color;
    font-weight: bolder;
    margin: 0 0 1rem;
  }
  &-header {
    text-align: center;
    font-weight: bolder;
    margin: 0 0 1rem;
  }
  &-footer {
    font-weight: lighter;
    margin: 1rem;
  }
  &-img {
    z-index: 3;
    display: block;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: solid 2px $orange-color;
  }
  &-count {
    background: $light-color;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  &-date {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
