$primary-color: rgb(90, 82, 82);
$light-color: rgb(202, 200, 200);
$orange-color: #d67f39;
$light-orange: #e2c4a8;
$reddish: rgb(179, 61, 84);
$greenish: rgb(76, 158, 90);
$bg-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
  0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
$hard-bg-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
$hard-dark: #1a5888;
$soft-dark: #c2def3;
$orange-gradient: linear-gradient($orange-color, $light-orange);
$dark-gradient: linear-gradient($hard-dark, $soft-dark);

$primary-gradient: linear-gradient(
  135deg,
  $orange-color 0%,
  $light-color 50%,
  $hard-dark 100%
);
$secondary-gradient: linear-gradient(
  135deg,
  $reddish 0%,
  $orange-color 50%,
  $light-orange 100%
);
$edu-gradient: linear-gradient(
  135deg,
  $hard-dark 0%,
  $light-color 50%,
  $soft-dark 100%
);

@mixin easeOut {
  transition: all 0.75s ease-out;
}

//Set Text Color

@function setTextColor($color) {
  @if (lightness($color) > 40) {
    @return rgb(56, 53, 53);
  } @else {
    @return #ffffff;
  }
}

//Add a portrait with circle around it
@mixin addPortrait($path) {
  width: 100px;
  height: 100px;
  background: url($path);
  background-size: cover;
  border-radius: 50%;
  border: solid 3px $purple;
}
