/*================ SITE NAVBAR ===========*/

/* Style the links inside the navigation bar */
.custom-nav {
  .a-link {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;
  }
}

/* Change the color of links on hover */
.custom-nav {
  .a-link:hover {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(darken($light-color, 6), 0.65);
    color: setTextColor($primary-color);
    @include easeOut;
  }
}

/* Add a color to the active/current link */
.custom-nav {
  .a-link.active {
    background-color: rgba(darken($orange-color, 6), 0.65);
    color: setTextColor($primary-color);
  }
}

/*================ STUDY PAGE NAVBAR ===========*/

.studypage-nav {
  /* HTML Nav Styles */
  nav div {
    position: relative;
    display: block;
    opacity: 0;
    cursor: pointer;
  }

  nav div > menu {
    position: absolute;
    pointer-events: none;
  }
  nav > menu {
    display: flex;
  }

  nav > menu > div {
    pointer-events: all;
    opacity: 1;
  }
  menu div a {
    white-space: nowrap;
    display: block;
  }

  div:hover > menu {
    pointer-events: initial;
  }
  div:hover > menu > div,
  menu:hover > div {
    opacity: 1;
  }
  nav > menu > div div menu {
    transform: translateX(100%);
    top: 0;
    right: 0;
  }

  /* User Styles Below Not Required */

  nav {
    margin-top: 40px;
    margin-left: 40px;
  }

  nav a {
    background: #75f;
    color: #fff;
    min-width: 190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin: 0px 6px 6px 0px;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
  }

  nav a:hover:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }

  nav > menu > div > a + menu:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid white;
    left: 12px;
    top: -40px;
  }
  nav div > menu > div > a + menu:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left: -180px;
    transition: opacity 0.6, transform 0s;
  }

  nav > menu > div > menu > div {
    transition: transform 0.6s, opacity 0.6s;
    transform: translateY(150%);
    opacity: 0;
  }
  nav > menu > div:hover > menu > div,
  nav > menu > div.hover > menu > div {
    transform: translateY(0%);
    opacity: 1;
  }

  div > menu > div > menu > div {
    transition: transform 0.6s, opacity 0.6s;
    transform: translateX(195px) translateY(0%);
    opacity: 0;
  }
  div > menu > div:hover > menu > div,
  div > menu > div.hover > menu > div {
    transform: translateX(0) translateY(0%);
    opacity: 1;
  }
}
