/*================ SITE NAVBAR ===========*/

/* Style the links inside the navigation bar */
.custom-nav {
  .a-link {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;
  }
}

/* Change the color of links on hover */
.custom-nav {
  .a-link:hover {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(darken($light-color, 6), 0.65);
    color: setTextColor($primary-color);
    @include easeOut;
  }
}

/* Add a color to the active/current link */
.custom-nav {
  .a-link.active {
    background-color: rgba(darken($orange-color, 6), 0.65);
    color: setTextColor($primary-color);
  }
}

/*================ STUDY PAGE NAVBAR ===========*/

.studypage-nav {
  button {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;

    border: none;
    border-radius: 2px;
    outline: none;

    background-color: $orange-color;
    color: setTextColor($primary-color);
    text-decoration: none;
    text-align: center;

    cursor: pointer;
    @include easeOut;

    &:focus,
    &:hover {
      background-color: $light-orange;

      box-shadow: $bg-shadow;
    }
    &:active {
      background-color: shade($orange-color, 5%);

      box-shadow: 0 0 0 0.2rem shade($orange-color, 5%),
        0 0 0 4rem shade($orange-color, 5%);
      @include easeOut;
    }
  }
}
