@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

$font-stack: "Open Sans", sans-serif;

$background: #eee;

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$transition-duration: 400ms;
$transition-delay: $transition-duration;

$sidebar-transition: $transition-duration opacity $transition-delay,
  $transition-duration visibility $transition-delay;

/* Remove Bootstrap button outline */
button,
a {
  .focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  &:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

[data-component="sidebar"] {
  .sidebar {
    position: fixed;
    z-index: 9999;

    color: setTextColor($primary-color) !important;
  }
  //black menu
  .first-menu {
    position: fixed;
    background-color: $hard-dark;

    height: 100vw;
    width: 75px;
    left: 0;
    overflow: hidden;
    transition: width 0.5s;

    button {
      color: $light-color;
      background: transparent;
      border: none;
    }
    .custom-link {
      color: $light-color;
    }

    i {
      font-size: 24px;
    }
    span {
      font-size: 14px;
      white-space: nowrap;
      font-family: "Open Sans", sans-serif;
      opacity: 0;
      display: flex;
      // visibility: hidden;
    }
    :hover span {
      // opacity: 1;
      visibility: visible;
    }
    .list-group-item {
      border-radius: 0;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .first-menu:hover {
    width: 85px;
  }

  .list-group-item {
    font-size: 14px;
  }

  //blue menu
  .submenu {
    position: fixed;
    left: 85px;
    width: 160px;
    background-color: $primary-color;
    height: 100vw;
    opacity: 0;
    visibility: hidden;
    transition: $sidebar-transition;

    .list-group-item {
      margin: auto;
      margin-top: 8px;
      width: 100%;
    }
  }

  .first-menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }

  //white menu
  .sub-submenu {
    position: fixed;
    background-color: #fff;
    left: 245px;
    height: 100vw;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    transition: $sidebar-transition;
    .custom-link {
      color: $primary-color;
    }
    button {
      color: $primary-color;
    }
    .list-group-item:hover {
      background-color: transparent;
    }
  }
  .submenu li:hover .sub-submenu {
    visibility: visible;
    opacity: 1;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
