@import "config";
@import "navbar";
@import "card";
@import "comment";
@import "form";
@import "ticker";
@import "sidebar";
@import "alert";
@import "list";
@import "button";
@import "spinner";
@import "profile";
@import "footer";

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "PT Sans Narrow", sans-serif;
  background: rgba(darken($light-color, 6), 0.65);
  color: setTextColor($primary-color);
}

#top {
  color: $light-color;
  background-color: $hard-dark;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-enter {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.header-navbar {
  background: $dark-gradient;
  // position: fixed;
  width: 100%;
  z-index: 99;
  transition: top 0.8s;
}

a:hover {
  text-decoration: none;
}

.home {
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpapertag.com/wallpaper/full/3/c/4/852442-surreal-desktop-backgrounds-1920x1080-lockscreen.jpg")
      no-repeat center center fixed;
}

.main {
  width: 100%;

  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/philo_page/night.jpg")
      no-repeat center;
}
.home h1 {
  margin: 3rem;
}

.animated-link {
  color: setTextColor($primary-color);
  @include easeOut;

  &:hover {
    color: rgba(darken($hard-dark, 6), 0.65);
  }
}

.custom-select {
  background-color: rgba(darken($soft-dark, 6), 0.65);
  color: rgba(darken($light-orange, 6), 0.65);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

/*================ BUTTONS ===========*/
.btn {
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $light-color;
    color: $primary-color;
  }
}

.large-btn {
  color: setTextColor($primary-color);
  background-color: $hard-dark;
  border-width: large;
  border-radius: 1rem;
  padding: 0.9rem 1.5rem;
  white-space: normal;

  &:hover {
    background: rgba(darken($soft-dark, 6), 0.65);
    color: $primary-color;

    @include easeOut;
  }
}

.med-btn {
  color: setTextColor($primary-color);
  background-color: $hard-dark;
  border-width: medium;
  border-radius: 1rem;
  padding: 0.6rem 1.1rem;
  // margin: 1rem;
  @include easeOut;

  &:hover {
    background: rgba(darken($soft-dark, 6), 0.65);
    color: $primary-color;
  }
}

.small-btn {
  color: setTextColor($primary-color);
  background-color: $hard-dark;
  border-width: medium;
  border-radius: 1rem;
  padding: 0.2rem 0.45rem;
  // margin: 0.5rem;
  @include easeOut;

  &:hover {
    background: rgba(darken($soft-dark, 6), 0.65);
    color: $primary-color;
  }
}

.nav-btn {
  color: setTextColor($primary-color);
  background: transparent;
  border: none;

  margin: auto;
  @include easeOut;

  &:hover {
    background: rgba(darken($light-orange, 6), 0.65);
    color: $primary-color;
  }
}

.btn-unlike:hover {
  background-color: transparent;
  color: $reddish;
  @include easeOut;
}
.btn-like:hover {
  background-color: transparent;
  color: $greenish;
  @include easeOut;
}

.modal-btn {
  cursor: pointer;
  color: $primary-color;
  margin: auto;
}

#top-btn {
  z-index: 98;
  background-color: $hard-dark;
  @include easeOut;

  &:hover {
    background-color: $soft-dark;
  }
}

/*================ TEXT STYLES ===========*/

.text-xl {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.input-group-text {
  border: none;
  background: $light-color;
}

/*================ CONTAINERs/ROWS/COLUMNS ===========*/

.index-container {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  width: 80vw;
  // float: right;
  margin: auto;
  padding: 2rem;
}

.half-container {
  width: 50vw;
  padding-top: 2rem;
}

.jumbo {
  border-radius: 0 !important;
  border: none;

  &-profile {
    color: setTextColor($primary-color);
    background: linear-gradient($soft-dark, $hard-dark);

    .right {
      float: right;
    }

    .left {
      margin: auto;
      width: 50%;
    }

    .profile-img {
      display: block;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      height: 250px;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: solid 3px $soft-dark;
    }
  }

  &-item {
    color: setTextColor($primary-color);
    background: linear-gradient($orange-color, $light-orange);
    display: block;

    .right {
      float: right;
      margin: 2rem;
    }

    .left {
      margin: auto;
      padding: 2rem;
      // width: 50%;
    }
  }
}

.container-studypage {
  display: grid;
  grid-template-columns: 1fr 8fr;

  .container-left {
    padding-left: 1rem;
  }
  .container-right {
    margin: auto;
    padding: 0;
    width: 100%;
  }
}

.lead {
  border: none;
}

/*================ HEADINGS ===========*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: setTextColor($primary-color);
  &.large-heading {
    font-size: 4.2rem;
    padding: 2rem !important;
    text-transform: uppercase;
  }

  &.medium-heading {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($soft-dark, 6), 0.85);
    text-transform: uppercase;
  }

  &.small-heading {
    margin: 2rem;
    padding: 0.2rem 1rem;
    background: $hard-dark;
    text-transform: uppercase;
  }

  &.x-small-heading {
    margin-bottom: 1rem;
    padding: 0.1rem 0.5rem;
    background: $hard-dark;
    text-transform: uppercase;
  }
}

.heading {
  border: none;
  color: rgba(darken($hard-dark, 6), 0.85);
  padding: 2rem;
}

h3.heading,
h4.heading,
h5.heading,
h6.heading {
  color: setTextColor($primary-color);
  border: none;
  font-size: 1.9rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.heading-underline {
  width: 6rem;
  height: 0.3rem;
  background-color: $hard-dark;
  margin: 0 auto 2rem;
}

.custom-header:hover {
  background-color: $orange-color;
  @include easeOut;
}

/*================ ICONS ===========*/

.fa-globe {
  color: #2fc59f;
}
.fa-twitter {
  color: #38a1f3;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #3f729b;
}
.fa-youtube {
  color: #c4302b;
}
.fa-linkedin {
  color: #0077b5;
}

// Register Page

.register {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://jooinn.com/images/close-up-of-open-book.jpg") no-repeat center
      center fixed;
  background-size: cover;
  height: 100vh;
}

// Login Page

.login {
  background: url("https://mocah.org/uploads/posts/5390534-window-silhouette-person-back-city-architecture-sky-black-learn-explore-adventure-new-thinking-dreaming-wonder-winter-travel-skyline-view-leave-free-images.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

// Modal

.custom-modal {
  color: rgba(darken($hard-dark, 6), 0.85);

  .modal-title {
    color: rgba(darken($hard-dark, 6), 0.85);
  }

  .modal-body {
    background: linear-gradient(
      135deg,
      $orange-color 0%,
      $light-color 50%,
      $hard-dark 100%
    );
  }
}

// Documentation Page
.doc-page {
}

// Chapter

.chapter {
  color: setTextColor($primary-color);
  text-overflow: ellipsis;
  .nav-btn {
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    background-color: $orange-color;

    &:hover {
      box-shadow: $bg-shadow;
      background-color: rgba(darken($light-orange, 6), 0.65);
    }
    &:active {
      box-shadow: $bg-shadow;
      background-color: rgba(darken($soft-dark, 6), 0.65);
    }
  }

  .desc {
    margin: auto;
    top: 50%;
    vertical-align: middle;
  }

  &-list {
    text-decoration: none;

    &-item {
      padding: 0.2rem;
      color: rgba(lighten($hard-dark, 6), 0.75);

      .document {
        p {
          @include easeOut;
          &:hover {
            cursor: pointer;
            color: rgba(darken($orange-color, 6), 0.75);
          }
        }
        span {
          margin: 0.1rem 0.3rem;
        }
      }
    }
  }
}

@import "mobile";
