/*================ NAVBAR ===========*/
/* Style the links inside the navigation bar */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.custom-nav .a-link {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 17px; }

/* Change the color of links on hover */
.custom-nav .a-link:hover {
  height: 100%;
  border-radius: 20px;
  background-color: rgba(187, 184, 184, 0.65);
  color: #ffffff;
  transition: all 0.75s ease-out; }

/* Add a color to the active/current link */
.custom-nav .a-link.active {
  background-color: rgba(63, 24, 53, 0.65);
  color: #ffffff; }

.card {
  position: relative;
  width: 460px;
  height: 180px;
  background-color: #fff;
  background: linear-gradient(#929090, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1rem; }

.card h1 {
  text-align: center; }

.card .card-secondary {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#ca5a50, #eeafa9);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2; }

.card.blue .card-secondary {
  background: linear-gradient(#251046, #d3d3d3); }

.card:hover .card-secondary {
  width: 100%;
  border-radius: 0 5px 5px 0; }

.card .card-secondary .custom-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left; }

.card .card-secondary .custom-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025); }

.card .card-secondary .custom-card .discuss,
.card .card-secondary .custom-card .name,
.card .card-secondary .custom-card .likes {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap; }

.card .card-secondary .custom-card .discuss {
  margin-top: 2rem; }

.card .card-secondary .custom-card .likes {
  margin-top: 2rem;
  padding: 0 !important; }

.card .card-secondary .custom-card .discuss:hover {
  background-color: #d3d3d3;
  transition: 0.4s ease-in; }

.card .card-secondary .more-info {
  width: 300px;
  float: left;
  font-weight: bold;
  position: absolute;
  left: 150px;
  height: 100%; }

.card .card-secondary .more-info h1 {
  color: #fff;
  margin-bottom: 0; }

.card.blue .card-secondary .more-info h1 {
  color: #d3d3d3; }

.card .card-secondary .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem; }

.card.blue .card-secondary .coords {
  color: #ffffff; }

.card .card-secondary .coords span + span {
  float: right; }

.card .card-secondary .stats {
  font-size: 0.8rem;
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  top: auto;
  margin-top: 0.5rem;
  color: #ffffff; }

.card .card-secondary .stats > div {
  flex: 1;
  text-align: center; }

.card .card-secondary .stats i {
  display: block; }

.card .card-secondary .stats div.title {
  font-size: 0.6rem;
  text-transform: uppercase; }

.card .card-secondary .stats div.value {
  font-size: 1rem;
  line-height: 1.5rem; }

.card .card-secondary .stats div.value.infinity {
  font-size: 2.5rem; }

.card .card-main {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  padding-top: 0; }

.card .card-main .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em; }

.card-delete {
  background-color: #b33d54;
  border-radius: 1rem;
  padding: 0 0.2rem 0;
  position: absolute;
  right: 0;
  bottom: 0; }

/*================ COMMENTS ===========*/
/* Study Item Page */
.comment-form .comment-form-header {
  background: #5a5252;
  color: #ffffff;
  padding: 0.5rem; }

.comment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  color: #5a5252; }
  .comment .comment-title {
    background-color: #552048;
    color: #fff;
    font-weight: bolder;
    margin: 0 0 1rem; }
  .comment .comment-header {
    font-weight: bolder;
    margin: 0 0 1rem; }
  .comment .comment-footer {
    font-weight: lighter;
    margin: 1rem; }
  .comment .custom-img {
    width: 75px;
    height: 75px;
    background: url("https://raw.githubusercontent.com/wisekrakr/portfolio_res/master/images/dd_logo_solo.png");
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    border: solid 2px #552048; }
  .comment .comment-count {
    background: #cac8c8;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem; }
  .comment .comment-date {
    font-size: 0.8rem;
    margin-bottom: 0.5rem; }

/*================ FORMS ===========*/
.form .form-group {
  margin: 1.2rem 0; }

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

.form input[type="submit"],
button {
  font: inherit; }

.form .social-input {
  display: flex; }

.form .social-input i {
  padding: 0.5rem;
  width: 4rem; }

.form .social-input i.fa-twitter {
  color: #38a1f3; }

.form .social-input i.fa-facebook {
  color: #3b5998; }

.form .social-input i.fa-instagram {
  color: #3f729b; }

.form .social-input i.fa-youtube {
  color: #c4302b; }

.form .social-input i.fa-linkedin {
  color: #0077b5; }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.ticker-wrap {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box; }
  .ticker-wrap .ticker {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 33s;
    animation-duration: 33s; }
    .ticker-wrap .ticker-item {
      display: inline-block;
      padding: 0 1rem;
      font-size: 1.5rem; }

#ticker-item {
  background: transparent;
  color: #ffffff; }

/* Remove Bootstrap button outline */
button .focus,
a .focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

button:focus,
a:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

[data-component="navbar"] {
  /* Right Menu Dropdowns */
  /* Notification */
  /* Notification Dropdown */ }
  [data-component="navbar"] .navbar {
    background-color: #fff; }
  [data-component="navbar"] .navbar-toggler {
    line-height: 2.4;
    margin-left: 75px; }
    [data-component="navbar"] .navbar-toggler span {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      display: none; }
  [data-component="navbar"] .navbar-toggler[aria-expanded="true"] {
    color: #009fff; }
    [data-component="navbar"] .navbar-toggler[aria-expanded="true"] span {
      display: initial;
      color: #009fff; }
    [data-component="navbar"] .navbar-toggler[aria-expanded="true"] i {
      color: #009fff; }
  [data-component="navbar"] .navbar-collapse {
    background-color: #552048;
    margin-left: 75px; }
  [data-component="navbar"] .navbar-nav {
    height: 100vw; }
  [data-component="navbar"] .collapsing {
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease; }
  [data-component="navbar"] .navbar-brand {
    background-color: #5a5252;
    height: 60px;
    width: 75px;
    text-align: center; }
  [data-component="navbar"] ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }
  [data-component="navbar"] .right-links i {
    color: #000;
    font-size: 20px;
    line-height: 2.8; }
  [data-component="navbar"] .home {
    border-right: 1px solid #ababab; }
  [data-component="navbar"] .dropdown-toggle::after {
    display: none; }
  [data-component="navbar"] .dropdown-item {
    color: #292b2c;
    font-size: 0.75em; }
  [data-component="navbar"] .dropdown {
    position: relative; }
    [data-component="navbar"] .dropdown span {
      color: #fff;
      position: absolute;
      width: 15px;
      height: 15px;
      top: -8px;
      right: -3px;
      background-color: red;
      border-radius: 50%;
      text-align: center;
      font-size: 0.625em;
      font-weight: 600; }
    [data-component="navbar"] .dropdown img {
      border-radius: 50%;
      height: 40px; }
  [data-component="navbar"] .list-group .lg {
    height: 500px;
    width: 270px;
    overflow: auto; }
  [data-component="navbar"] .list-group .list-group-item {
    border-radius: 0;
    letter-spacing: 0.5px; }
  [data-component="navbar"] .list-group h5 {
    font-size: 0.6875em;
    font-weight: 700;
    line-height: 2; }
  [data-component="navbar"] .list-group p {
    font-size: 0.5625em;
    font-weight: 400;
    line-height: 2; }

[data-component="sidebar"] .sidebar {
  position: fixed;
  z-index: 9999; }

[data-component="sidebar"] .first-menu {
  position: fixed;
  background-color: #552048;
  height: 100vw;
  width: 75px;
  left: 0;
  overflow: hidden;
  transition: width 0.5s; }
  [data-component="sidebar"] .first-menu a {
    color: #fff; }
  [data-component="sidebar"] .first-menu i {
    font-size: 24px; }
  [data-component="sidebar"] .first-menu span {
    font-size: 14px;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
    opacity: 0;
    visibility: hidden; }
  [data-component="sidebar"] .first-menu:hover span {
    opacity: 1;
    visibility: visible; }
  [data-component="sidebar"] .first-menu .list-group-item {
    border-radius: 0; }
    [data-component="sidebar"] .first-menu .list-group-item:hover {
      background-color: #5a5252; }

[data-component="sidebar"] .first-menu:hover {
  width: 160px; }

[data-component="sidebar"] .list-group-item {
  font-size: 14px; }

[data-component="sidebar"] .submenu {
  position: fixed;
  left: 160px;
  width: 195px;
  top: 60px;
  background-color: #5a5252;
  height: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: 600ms opacity 600ms, 600ms visibility 600ms; }
  [data-component="sidebar"] .submenu .list-group-item {
    margin-top: 8px; }

[data-component="sidebar"] .first-menu li:hover .submenu {
  visibility: visible;
  opacity: 1; }

[data-component="sidebar"] .sub-submenu {
  position: fixed;
  background-color: #fff;
  left: 355px;
  top: 60px;
  height: 100vw;
  width: 195px;
  opacity: 0;
  visibility: hidden;
  transition: 600ms opacity 600ms, 600ms visibility 600ms; }
  [data-component="sidebar"] .sub-submenu a {
    color: #5a5252; }
  [data-component="sidebar"] .sub-submenu .list-group-item:hover {
    background-color: transparent; }

[data-component="sidebar"] .submenu li:hover .sub-submenu {
  visibility: visible;
  opacity: 1; }

[data-component="sidebar"] .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0; }

[data-component="sidebar"] .arrow {
  position: fixed;
  left: 329px;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-right: 27px solid white; }
  [data-component="sidebar"] .arrow:nth-child(3) {
    top: 20px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background: rgba(187, 184, 184, 0.65);
  color: #ffffff; }

#top {
  color: #fff;
  background-color: #251046; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-enter {
  opacity: 0.01;
  transition: opacity 1000ms ease-in; }

.header-navbar {
  background: linear-gradient(#251046, #d3d3d3);
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: top 0.8s; }

a:hover {
  text-decoration: none; }

#top-btn {
  z-index: 98; }

.home {
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapertag.com/wallpaper/full/3/c/4/852442-surreal-desktop-backgrounds-1920x1080-lockscreen.jpg") no-repeat center center fixed; }

.main {
  width: 100%;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://42796r1ctbz645bo223zkcdl-wpengine.netdna-ssl.com/wp-content/uploads/2015/03/library-425730_1920.jpg") no-repeat center; }

.home h1 {
  margin: 3rem; }

/*================ BUTTONS ===========*/
.btn {
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover {
    background: #cac8c8;
    color: #5a5252; }

.large-btn {
  color: #ffffff;
  background-color: #552048;
  border-width: large;
  border-radius: 1rem;
  padding: 0.9rem 1.5rem;
  white-space: normal; }
  .large-btn:hover {
    background: rgba(196, 196, 196, 0.65);
    color: #5a5252;
    transition: all 0.75s ease-out; }

.med-btn {
  color: #ffffff;
  background-color: #552048;
  border-width: medium;
  border-radius: 1rem;
  padding: 0.6rem 1.1rem;
  margin: 1rem;
  transition: all 0.75s ease-out; }
  .med-btn:hover {
    background: rgba(196, 196, 196, 0.65);
    color: #5a5252; }

.small-btn {
  color: #ffffff;
  background-color: #552048;
  border-width: medium;
  border-radius: 1rem;
  padding: 0.3rem 0.75rem;
  margin: 0.5rem;
  transition: all 0.75s ease-out; }
  .small-btn:hover {
    background: rgba(196, 196, 196, 0.65);
    color: #5a5252; }

.btn-unlike:hover {
  background-color: transparent;
  color: #b33d54;
  transition: all 0.75s ease-out; }

.btn-like:hover {
  background-color: transparent;
  color: #4c9e5a;
  transition: all 0.75s ease-out; }

/*================ TEXT STYLES ===========*/
.text-xl {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem; }

/*================ CONTAINERs ===========*/
.index-container {
  width: 100vw;
  margin: auto;
  padding: 1rem; }

.jumbo {
  border-radius: 0 !important;
  border: none; }
  .jumbo-item {
    color: #333; }

.lead {
  border: none; }

/*================ HEADINGS ===========*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: 800;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #d3d3d3; }
  h1.large-heading,
  h2.large-heading,
  h3.large-heading {
    border: none;
    font-size: 4.2rem;
    padding: 2rem !important; }
  h1.small-heading,
  h2.small-heading,
  h3.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: #251046; }
  h1.x-small-heading,
  h2.x-small-heading,
  h3.x-small-heading {
    margin-bottom: 1rem;
    padding: 0.1rem 0.5rem;
    background: #251046; }

.heading {
  border: none;
  color: rgba(24, 10, 45, 0.85);
  padding: 2rem; }

h3.heading {
  border: none;
  font-size: 1.9rem;
  text-transform: uppercase;
  padding-bottom: 2rem; }

.heading-underline {
  width: 6rem;
  height: 0.3rem;
  background-color: #251046;
  margin: 0 auto 2rem; }

.custom-header:hover {
  background-color: #552048;
  transition: all 0.75s ease-out; }

/*================ LISTS ===========*/
.list-group {
  text-decoration: none; }

.list-item {
  display: block;
  color: #ffffff;
  margin: 1rem 0 0; }

.log-list-item {
  width: 460px;
  background: linear-gradient(#929090, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  margin-top: 1rem; }

.list-delete {
  background-color: #b33d54;
  border-radius: 2rem;
  padding: 0 0.2rem 0;
  float: right; }

.custom-list-item {
  color: #ffffff; }

.custom-list-item:hover {
  background: linear-gradient(#251046, #d3d3d3);
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.75s ease-out; }

@media only screen and (max-width: 570px) {
  .home h1 {
    font-size: 2.2rem; }
  .large-heading {
    font-size: 3rem; }
  .display-3 {
    font-size: 3rem; }
  .comment {
    grid-template-columns: 1fr; }
    .comment a,
    .comment button {
      padding: 0.3rem 0.4rem; }
  .card {
    width: 320px;
    height: 120px;
    margin: auto 0 1.5rem; }
  .custom-header {
    text-align: right;
    width: 175px;
    float: right;
    font-size: 0.8rem; }
  .card .card-secondary .more-info {
    width: 180px;
    font-size: 0.9rem; }
  .card .card-secondary .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 0.7rem; }
  .card .card-secondary .stats {
    font-size: 0.5rem;
    bottom: 0; }
    .card .card-secondary .stats div.title {
      font-size: 0.5rem; }
    .card .card-secondary .stats div.value {
      font-size: 0.5rem; }
  .card .card-secondary .custom-card .discuss {
    margin-top: 0.8rem; }
  .card .card-secondary .custom-card .likes {
    padding: 0;
    margin-top: 0.6rem; }
  .custom-modal {
    width: 340px; }
  .log-list-item {
    width: 320px;
    font-size: 0.9rem; } }
